<div class="form-group" [formGroup]="rForm">
    <mat-form-field>
        Name:
      <input type="text" matInput class="formControl" formControlName="name" [(ngModel)]= "this.data.details.name">
      </mat-form-field>
      <span class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">*Name Required</span>
      <br>
      <mat-form-field>
        Surname:
      <input type="text" matInput class="formControl" formControlName="surname" [(ngModel)]= "this.data.details.surname">
      </mat-form-field>
      <span class="alert" *ngIf="!rForm.controls['surname'].valid && rForm.controls['surname'].touched">*Surname Required</span>
      <br>
      <mat-form-field>
        Phone:
        <input type="number" matInput class="formControl" formControlName="phone" [(ngModel)]= "this.data.details.phone" pattern="^\d{10}$">
      </mat-form-field>
      <span class="alert" *ngIf="!rForm.controls['phone'].valid && rForm.controls['phone'].touched">*Invalid Phone Number</span>
      <br>
      <mat-form-field>
        Street:
        <input type="text" matInput class="formControl" formControlName="street" [(ngModel)]= "this.data.details.street">
      </mat-form-field>
      <span class="alert" *ngIf="!rForm.controls['street'].valid && rForm.controls['street'].touched">*Street Required</span>
      <br>
      <mat-form-field>
        City:
        <input type="text" matInput class="formControl" formControlName="city" [(ngModel)]= "this.data.details.city">
      </mat-form-field>
      <span class="alert" *ngIf="!rForm.controls['city'].valid && rForm.controls['city'].touched" >*City Required</span>
      <br>
      <mat-form-field>
          Birthdate (Format:DD-MM-YYYY):
          <input type="text" matInput class="formControl" formControlName="date" [(ngModel)]= "this.data.details.birthDate" pattern="^\d{2}-\d{2}-\d{4}$">
        </mat-form-field>
        <span class="alert" *ngIf="!rForm.controls['date'].valid && rForm.controls['date'].touched">*Incorrect format</span>
        <br>
      <mat-form-field>
          Number:
          <input type="text" matInput class="formControl" formControlName="number" [(ngModel)]= "this.data.details.number">
        </mat-form-field>
        <span class="alert" *ngIf="!rForm.controls['number'].valid && rForm.controls['number'].touched">*Number Required</span>
<div>
  <button mat-button (click)="close()">Close</button>
  <button mat-button [disabled]="!rForm.valid" (click)="onregister()" >Save</button>
</div>
</div>
